
/* Scroll Bar */
html {
    overflow-y:scroll;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* Main Styles */
body {
  text-align: center;
  background-color: #3F3E3A;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 10% 0;
}

a {
  color: white;
}

/* Layout */
.main {
  display: flex;
  justify-content: center;
  margin: 1% 0;
}

footer {
  margin: 0;
}

.sidebar-left {
  text-align: left;
  margin: 0 1.5%;
  width: 20%;
}

.sidebar-right {
  margin: 0 1.5%;
  width: 20%;
}

.setting-buttons {
  margin: 20% 0 3%;
}

h3 {
  margin: 1em 0 0.1em;
}

.sidebar-right span {
  justify-content: center;
  margin: 0;
}

.sidebar-timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-answer {
  width: 1em;
}

.hidden {
  visibility: hidden;
}

/* Chessboard Style */
.notation {
  color: #3F3E3A;
  font-size: 85%;
  margin: 3px;
}

.chess-board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 48%;
}

.chess-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.chess-square {
  min-width: 5.5vw;
  width: 12.5%;
  height: 0;
  padding-bottom: 12.5%;
  text-align: left;
  background-size: contain;
}

.dark {
  background-color: #B58863;
}
.light {
  background-color: #F0D9B5;
}


/* Buttons */
.myButton {
	box-shadow:inset 0 1px 0 0 #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 1px 0 #ffffff;
  margin: 2%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Timer */
.base-timer {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10px;
}
.base-timer__svg {
  transform: scaleX(-1);
}
.base-timer__circle {
  fill: none;
  stroke: none;
}
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}
.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}
.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}
.base-timer__path-remaining.orange {
  color: orange;
}
.base-timer__path-remaining.red {
  color: red;
}
.base-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

/* Button Play/Pause */
.btn-play-stop {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 45px;
  margin: 10px;

  border-color: transparent transparent transparent #F0D9B5;
  transition: 100ms all ease;
  cursor: pointer;

  /* play state */
  border-style: solid;
  border-width: 27px 0 27px 45px;
}
.btn-play-stop.paused {
  border-style: double;
  border-width: 0px 0 0px 45px;
}
.btn-play-stop:hover {
  border-color: transparent transparent transparent #B58863;
}

/* Chess Pieces */
#a1, #h1 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/wr.png");
}
#b1, #g1 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/wn.png");
}
#c1, #f1 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/wb.png");
}
#d1 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/wq.png");
}
#e1 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/wk.png");
}
#a2, #b2, #c2, #d2, #e2, #f2, #g2, #h2  {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/wp.png");
}

#a7, #b7, #c7, #d7, #e7, #f7, #g7, #h7  {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/bp.png");
}
#a8, #h8 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/br.png");
}
#b8, #g8 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/bn.png");
}
#c8, #f8 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/bb.png");
}
#e8 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/bq.png");
}
#d8 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/bk.png");
}
