body {
  text-align: center;
  background-color: #3F3E3A;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 10% 0;
}

a {
  color: white;
}

.header {
  font-size: 120%;
  margin: 2em;
}

.main {
  display: flex;
  justify-content: center;
  margin: 3% 0;
}

footer {
  margin: 0;
}

.notation {
  color: #3F3E3A;
}

.sidebar-left {
  font-style: italic;
  margin: 4%;
  width: 20%;
}

.sidebar-right {
  font-style: italic;
  margin: 4%;
  width: 20%;
}

.setting-buttons {
  margin: 20% 0 3%;
}

h3 {
  margin: 1em 0 0.1em;
}

.sidebar-right p {
  margin: 0;
}

.chess-board {
  /* display: inline-block; */
  /* position: relative; */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* flex-shrink: 0; */
  width: 40%;
}

.chess-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.chess-square {
  min-width: 5vw;
  width: 12.5%;
  height: 0;
  padding-bottom: 12.5%;
}

.dark {
  background-color: #B58863;
}
.light {
  background-color: #F0D9B5;
}

.hidden {
  visibility: hidden;
}

.myButton {
	box-shadow:inset 0 1px 0 0 #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 1px 0 #ffffff;
  margin: 2%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}
