
/* Scroll Bar */
html {
  overflow-y:scroll;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


/* Main Styles */
body {
  background-color: #3F3E3A;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.sidebar-left {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 2% 2% 4%;
}

.title {
  display: inline-flex;
  align-items: center;
}

.title-pawn {
  font-size: 5rem;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #B58863;
  border-width: 0.5rem;
  margin: 1rem 40%;
}

ul {
  margin: 0 0 0 1rem;
  padding: 0;
  font-size: 95%;
}

.sidebar-right {
  font-style: italic;
  margin: 2%;
}

.sidebar-timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-right h3 {
  margin: 1em 0 0.1em;
}

.sidebar-right span {
  justify-content: center;
  margin: 0;
}

.img-answer {
  width: 1em;
}

.hidden {
  visibility: hidden;
}

.setting-buttons {
  align-self: end;
  margin: 2% 10%;
}

footer {
  margin: 3px;
}

a {
  color: white;
}

/* Grid Layout */
.main {
  display: grid;
  justify-items: center;
  align-items: stretch;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 50% 50%;
  margin: 1% 0;
}
.sidebar-left {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.chess-board {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
.sidebar-right {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.setting-buttons {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

@media (max-width: 1200px) {
  .main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin: 1% 0;
  }
  .sidebar-left {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .chess-board {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .sidebar-right {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .setting-buttons {
    grid-column: 1 / 3;
    grid-row: 3 / 4  ;
  }
}

@media (max-width: 600px) {
  .main {
    display: block;
  }
  .chessboard{
    margin: 5px;
  }
  .sidebar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .sidebar-right h3{
    margin: 3px 0;
  }
}



/* Chessboard Style */
.notation {
  color: #3F3E3A;
  font-size: 85%;
  margin: 3px;
}

.chess-board {
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chess-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.chess-square {
  width: 5.5vw;
  min-width: 40px;
  height: 0;
  padding-bottom: 12.5%;
  text-align: left;
  background-size: contain;
}

.dark {
  background-color: #B58863;
}
.light {
  background-color: #F0D9B5;
}



/* Buttons */
.myButton {
	box-shadow:inset 0 1px 0 0 #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 1px 0 #ffffff;
  margin: 2%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}



/* Button Play/Pause */
.btn-play-pause {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 45px;
  margin: 10px;

  border-color: transparent transparent transparent #F0D9B5;
  transition: 100ms all ease;
  cursor: pointer;

  /* play state */
  border-style: solid;
  border-width: 27px 0 27px 45px;
}
.btn-play-pause.paused {
  border-style: double;
  border-width: 0px 0 0px 45px;
}
.btn-play-pause:hover {
  border-color: transparent transparent transparent #B58863;
}



/* Timer */
.base-timer {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10px;
}
.base-timer__svg {
  transform: scaleX(-1);
}
.base-timer__circle {
  fill: none;
  stroke: none;
}
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}
.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}
.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}
.base-timer__path-remaining.orange {
  color: orange;
}
.base-timer__path-remaining.red {
  color: red;
}
.base-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}




/* Chess Pieces */
#a1, #h1 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/wr.png");
}
#b1, #g1 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/wn.png");
}
#c1, #f1 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/wb.png");
}
#d1 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/wq.png");
}
#e1 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/wk.png");
}
#a2, #b2, #c2, #d2, #e2, #f2, #g2, #h2  {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/wp.png");
}

#a7, #b7, #c7, #d7, #e7, #f7, #g7, #h7  {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/bp.png");
}
#a8, #h8 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/br.png");
}
#b8, #g8 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/bn.png");
}
#c8, #f8 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/bb.png");
}
#e8 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/bk.png");
}
#d8 {
  background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/classic/150/bq.png");
}
